<%= link_to 'Edit', edit_bot_path(@bot) %> |
<%= link_to 'Back', bots_path %>

<p>
  <strong>Name:</strong>
  <%= @bot.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @bot.population %>
</p>

<p>
  <strong>Code:</strong>
</p>
<code><%= @bot.code %></code>
